/* Mobile Responsive */
@media (max-width: 768px) {


    .logo-text {
        font-size: 1.5rem;
    }

    .header-one .bottom-header{
        display: none;
    }

    .header-one .logo-container h6 {
            display: none;
    }

    .header-one .logo-container img {
        display: block;
        width: 100%;
    }

    .top-nav,
    .top-nav-link {
        display: none !important;
    }

    .pc-navbar
    {
        display: block !important;
    }

    .main-nav {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
        padding: 1rem;
    }

    .mobile-second-nav
    {
        display: block !important;
    }




    /* saradesh section styles start */

    .saradesh-content .site-title {
        font-size: 1.2rem;
    }

    .saradesh-content .featured-title {
        font-size: 1.2rem;
    }

    .saradesh-content .img-section {
        width: 100%;
        height: auto;
    }

    .saradesh-content .news-image {
        height: 150px;
    }

    .saradesh-content .sponser-card {
        display: none;
    }

    /* saradesh section styles end */



    /* .national-polities-content start */

    .national-polities-content .site-title {
        font-size: 1.2rem;
    }

    .national-polities-content .featured-title {
        font-size: 1.2rem;
    }

    .national-polities-content .img-section {
        width: 100%;
        height: auto;
    }

    .national-polities-content .news-image {
        height: 150px;
    }

     .national-polities-content .national-section 
    {
        padding: 20px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      .national-polities-content .national-section  .right-section
    {
        margin-top: 20px;
        border-radius: 10px;
    }

    /* .national-polities-content  end */




    /* international-business-content start */

    .international-business-content .site-title {
        font-size: 1.2rem;
    }

     .international-business-content .business-section .right-section,
     .international-business-content .international-section .right-section {
        margin: 15px 0;
        border-radius: 10px;
    }


    .international-business-content .img-section {
        width: 100%;
        height: auto;
    }

    .international-business-content .news-image {
        height: 150px;
    }

    /* .international-business-content  end */



    /* sport section start */
        .khala-content .site-title {
            font-size: 1.2rem;
        }


        .khala-content .featured-title {
            font-size: 1.2rem;
        }

        .khala-content .img-section {
            width: 100%;
            height: auto;
        }

        .khala-content .news-image {
            height: 150px;
        }

        /* sport section end */

        .job-content .education-content {
        margin-top: 10px;
        padding: 20px;
        }


        .archive-section {
        text-align: center;
        padding: 20px;
        }



        .trending-content .nav-menu {
            flex-wrap: wrap;
            margin-top: 15px;
            margin-bottom: 10px;
            color-scheme: dark;

        }

        .trending-content .nav-link-tab {
            min-width: 50%;  
            max-width: 50%;
            background-color: #DD3333;
        }

        .trending-content .nav-menu .nav-indicator {
            height: 3px;
            bottom: 0;
            transition: left 0.3s ease, width 0.3s ease;
            width:  fit-content;
        }


    }





    @media (min-width: 769px) {
    .mobile-menu {
        display: none !important;
    }
    }


    @media (max-width: 576px) {
        .saradesh-content .featured-card {
            margin-bottom: 20px;
        }

        .saradesh-content .news-title {
            font-size: 0.9rem;
        }

        .saradesh-content .featured-excerpt {
            font-size: 0.9rem;
        }
    }


    @media (max-width: 576px) {

    
    .national-polities-content .news-title {
        font-size: 0.9rem;
    }

    .national-polities-content .featured-excerpt {
        font-size: 0.9rem;
    }
    }